*.zip filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
pythonFlaskJavaHub/exe* filter=lfs diff=lfs merge=lfs -text
pythonFlaskJavaHub/archLinuxNoInstallExe* filter=lfs diff=lfs merge=lfs -text
