<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./../static/homePage.css" />
	</head>
	<body>
		<h1> Here is all the apps </h1>
		<div>
			<div>
				<img src="{{ url_for('static', filename='../static/IMGs/faceBAW.png') }}" alt="Image for Digital Portfolio.">
				<p>Digital Portfolio</p>
			</div>
			<div>
				<img src="{{ url_for('static', filename='../static/IMGs/for-later-apps-workers-dummy-man.webp') }}" alt="Image for (right now) Dummy app.">
				<p>(right now) Dummy app</p>
			</div>
		</div>
	</body>
</html>
